{% extends "base_class.html" %}
{% block searchbar %}{% endblock%}

{% block main_content %}
<div class="pt-5 d-flex align-items-center justify-content-center col">

    <div class="insertionForm">
        <h2 class="d-flex justify-content-center pb-5 pt-2 ">Insert a New Person to the Database</h2>

        <form class="d-grid gap-2" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <span class="input-group-text">First and Last Name*</span>
                {{form.first_name(class="form-control")}}
                {{form.last_name(class="form-control")}}
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text">@*</span>
                {{form.email(class="form-control")}}

            </div>
            <div class="input-group">
                <span class="input-group-text">Phone Number*</span>
                {{ form.phone_number(class="form-control") }}

            </div>
            <div class="input-group ">
                <span class="input-group-text" id="">Address</span>
                {{ form.address(class="form-control") }}

            </div>

            <div class="d-flex justify-content-end pt-3">
                {{ form.save_button(class="btn btn-outline-secondary") }}

            </div>
        </form>
    </div>



</div>
{% endblock%}
